Repository meedan/alegre, changes with the owners that CODEOWNERS names for each.
All owners: @computermacgyver, @caiosba, @dmou

CODEOWNERS:

* @computermacgyver @caiosba
/.github/ @dmou
/production/ @dmou
Dockerfile @dmou
docker* @dmou

Update text-similarity-call-sequence.md
  doc/text-similarity-call-sequence.md
Owners: @computermacgyver, @caiosba

[CV2-6075] text similarity sync & async call diagrams (#499)
  doc/text-similarity-call-sequence.md
Owners: @computermacgyver, @caiosba

remove scheduled CI workflow
  .github/workflows/ci-tests.yaml
Owners: @dmou

remove scheduled CI workflow (#501)
  .github/workflows/ci-tests.yaml
Owners: @dmou

Don't start model servers on live.
  .gitlab-ci.yml
Owners: @computermacgyver, @caiosba

Don't start model servers on live. (#502)
  .gitlab-ci.yml
Owners: @computermacgyver, @caiosba

Deprecate sync workflow.
  .github/workflows/gitlab-mirror.yml
Owners: @dmou

Deprecate sync workflow. (#503)
  .github/workflows/gitlab-mirror.yml
Owners: @dmou

debug
  .github/workflows/ci-tests.yaml
Owners: @dmou

Update build and deploy workflow.
  .github/workflows/ci-deploy-env.yml
Owners: @dmou

Use production Dockerfile for builds.
  .github/workflows/ci-deploy-env.yml
Owners: @dmou

debug
  .github/workflows/ci-tests.yaml
Owners: @dmou

Remove deprecated GitLab pipelines.
  .gitlab-ci.yml
Owners: @computermacgyver, @caiosba

Kick off deploy in sysops.
  .github/workflows/ci-deploy-env.yml
Owners: @dmou

Pass image URI for sysops deployment.
  .github/workflows/ci-deploy-env.yml
Owners: @dmou

Trying
  Dockerfile
Owners: @dmou

Trying
  Dockerfile
  constraints.txt
Owners: @dmou, @computermacgyver, @caiosba

Fix
  Dockerfile
Owners: @dmou

Trying to fix tests
  app/test/test_image_classification.py
Owners: @computermacgyver, @caiosba

Trying to fix tests
  app/test/pact/check_api-alegre.json
Owners: @computermacgyver, @caiosba

Trying to fix build error on check repo (#505)
  Dockerfile
  app/test/pact/check_api-alegre.json
  app/test/test_image_classification.py
  constraints.txt
Owners: @dmou, @computermacgyver, @caiosba

Deprecate GitLab
  .gitlab-ci.yml
Owners: @computermacgyver, @caiosba

Deprecate GitLab (#506)
  .gitlab-ci.yml
Owners: @computermacgyver, @caiosba

Correct syntax for sysops deploys.
  .github/workflows/ci-deploy-env.yml
Owners: @dmou

Support legacy deployments via sysops (#504)
  .github/workflows/ci-deploy-env.yml
Owners: @dmou

Remove upload to Code Climate
  .github/workflows/ci-tests.yaml
Owners: @dmou
